body{
    width:100%;
    font-family:cursive;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 30px;
    width: 36%;
    padding: 20px;
    
    border-collapse: collapse;
    

}
input[type="text"],select,input[type="password"],input[type="date"],input[type="tel"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width:90%;
    color: #555;
  }
input[type="Submit"]
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width:90%;
 
    text-align: center;
    align-items: center;
}
input [type="radio"]
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
    color: #555;
}
input [type="checkbox"]
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
    color: #555;
}

th{
    text-align: center;
    text-decoration: dashed;
    border: 2px solid;
    background-color:aquamarine;
    

    text-shadow: 0cqh;
    font-size: larger;
    font-family:cursive;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;


}
td{
    text-align: left;
    padding: 20px;
    padding-top: 10px;
   
    

}
.btn{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width:100%;
  
    text-align: center;
    
    background-color:aquamarine;
  }


tr{
    border: 2.1px;
 
    background-color: azure;
    
}
.design
{
    text-align: center;
    background-color: aqua;
}


